{% extends 'Pro/base.html' %}

{% block name %}
    {{ name }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'Pro/inc/_sidebar.html' %}
{% endblock %}

{% block content %}
        {% for item in human %}
            <div class="card mb-3">
                 {{ forloop.counter }}
                <div class="card-header">
                    Профессия: <a href="{{ item.profession.get_absolute_url }}">{{ item.profession }}</a>
                </div>
                <div class="media-photo">
                    {% if item.photo %}
                        <img src="{{ item.photo.url }}" class="mr-3" width="350" alt="Photo">
                    {% else %}
                    <h6>Фото нет</h6>
                    {% endif %}
                </div>
                <div class="card-body" style="text-align: center;">
                <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">{{ item.name }}</h5>
                  {% autoescape off %}
                <p class="card-text">{{ item.birthday|truncatewords:60|linebreaks }}</p>
                  {% endautoescape %}
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
              </div>
              <div class="card-footer text-body-secondary">
                {{ item.age }}
              </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}